<div class="notes container-fluid">
  <p class="note-title"><%= @note.title %></p>
  <p class="note-content"><%= @note.content %></p>
  <%= link_to "Edit", edit_user_jobthing_note_path(@user, @jobthing, @note), class: "note-edit interact" %>
  <%= link_to "Delete", user_jobthing_note_path(@user, @jobthing, @note), remote: true, class: "note-delete-button interact" %>
</div>
