<div class="jobpage container-fluid">
  <p><%= @jobthing.company %></p>
  <p><%= @user %></p>
  <button class="back"><i class="fa fa-reply"></i></button>
  <div class="header">
    <h1 class="job-title center">Uber</h1>
    <h2 class="position-title center">Software Developer</h2>
  </div>
  <br><br>

  <div class="job-page-box">
    <h1 class="box-title center">Progress</h1>

    <div class="info container-fluid">
      <div class="calendar">
        <div class="month">November</div>
        <div class="date">29</div>
        <div class="year">2014</div>
      </div>
      <p class="date-info">Date Applied </p>
    </div>

    <div class="info container-fluid">
      <div class="calendar">
        <div class="month">January</div>
        <div class="date">13</div>
        <div class="year">2015</div>
      </div>
      <p class="date-info">You have interviewed with John at 8am</p>
    </div>

    <div class="info container-fluid">
      <div class="calendar">
        <div class="month">February</div>
        <div class="date">07</div>
        <div class="year">2015</div>
      </div>
      <p class="date-info">You have a second interview with Mark at 7am </p>
    </div>
  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Notes</h1>
    <div class="notes container-fluid">
      <p class="note-title">Note 1</p>
      <p class="note-content">
        Try to send your thank-you note within 24 - 48 hours of your interview or meeting. The note may be handwritten on a small, professional, thank-you note card (if you have extremely neat handwriting and only a brief message to convey), word-processed, or emailed.
      </p>
    </div>

    <button type="button" class="note-button btn btn-primary btn-sm">Add Note</button>
  </div>

  <div class="job-page-box box">
    <h1 class="box-title center">Contacts</h1>
    <div class="notes container-fluid">
      <p class="contact-name">John McCain</p>
      <p class="contact-info">Email : </p>
      <p class="contact-info">Phone Number:</p>
    </div>

    <button type="button" class="contact-button btn btn-primary btn-sm">Add Contact</button>
  </div>
</div>
