<div class="row example-div">
  <div class="col-md-8 word-animation">
<!--     <span id="word1">Organize.</span>
    <span id="word2">Apply.</span>
    <span id="word3">Interview.</span>
    <span id="word4">Achieve.</span> -->
  </div>

  <div class="col-md-4 example-wrapper">
<!--     <img src="<%= asset_path('arrow.png') %>"/> -->
  </div>
</div>
