<div class="example col-md-5 col-md-offset-1">
  <div class="whatisjobthing">

    <h3>JobThing is here to make your job search easier.</h3>
    <p> Made by the unemployed, for the unemployed. </p>
    <p> JobThing is a job application organization tool that allows you to keep track of your job application links. </p>
    <p> Inspired by the oh, so classy Excel spreadsheet containing all aspects of our job finding journey, we set out to make a tool that would be much more interactive (and way more fun to use!) to aid us when it comes time to apply. </p>
    <p> JobThing allows you to keep tabs on companies you're interested in applying to, provides a pretty visual representation of all the job hunting stages that you're currently in, AND makes it fun by implementing tons (TONS) of drag and drop.<br>
    <i class="fa fa-thumbs-up"></i><br>
    </p>

    <p> Made with lots of love at Dev Bootcamp, San Francisco </p>
    <p> -- Alisa Tatarinova, Michael Yeung, && William Pangestu </p>


  

  </div>
</div>