<body class="index">
<container>
  <section class="color-1">
    <nav>
      <a id="home-icon"><i class="fa fa-home home"></i></a>
      <div class="navlinkswrapper cl-effect-1">
      <a class="example-btn"><span data-hover="What Is It?">What Is It?</span></a>
      <a class="sign-in-btn"><span data-hover="Sign In">Sign In</span></a>
      <a class='sign-up-btn'><span data-hover="Sign Up">Register</span></a>
      </div>
    </nav>
  </section>
</container>

<div class="titlebar">
<h1 class="title">JobTh<span class="i-char">i</span>ng</h1>
<p> Some cheesy phrase goes here. I don't know.</p>
</div>

<%= render partial: 'login' %>
<%= render partial: 'signup' %>
<%= render partial: 'whatisit' %>

</body>
