<div class="main-page">
  <div class="main-container">
    <section class="color-1">
      <nav class="inside-navigation">
        <div class="welcome-header"> Welcome, <%= @user.first_name %>.
          <div class="sign-out">
          <%= button_to "Sign Out", logout_path, :method => :delete, :class => 'btn btn-large btn-default' %>
        </div>
        </div>
      </nav>
    </section>
    <div class="table-responsive col-md-2 ">
      <h2>Job Bucket</h2><br>
      <div class="table-container1">
        <table class="table interest-table">

        </table>
      </div><br>

      <button type="button" class="btn btn-primary new-job" id="show_new_jobthing_form" action="/users/<%=@user.id%>/jobthings/new">Add New</button>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Applied To</h2><br>
      <div class="table-container">
        <table class="table applied-table">

        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Interview</h2><br>
      <div class="table-container">
        <table class="table interview-table">

        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Misc</h2><br>
      <div class="table-container">
        <table class="table misc-table">

        </table>
      </div>
    </div>

    <div class="table-responsive col-md-2 ">
      <h2>Outcome</h2><br>
      <div class="table-container">
        <table class="table outcome-table">

        </table>
      </div>
    </div>

      <i class="fa fa-trash trash-can"></i>
  </div>

  <div class="form_container">
    <p class="close-form"><i class="fa fa-times fa-4x"></i></p>
  </div>

</div>


