<div class="main-container">
  <h1 class="title"><%= @user.username %>'s JobThing </h1>
  <!-- add user authentication logics here -->
  <%= button_to "Sign Out", logout_path, :method => :delete %>

  <div class="table-responsive col-md-2 ">
    <h2>Job Bucket</h2>

    <table class="table">
      <% @jobs_w_interest.each do |job_w_interest| %>
        <tr>
          <td><%= render partial: 'jobthing', collection: @jobs_w_interest, locals: {job_w_interest: job_w_interest} %></td>
        </tr>
      <% end %>
    </table>

    <button type="button" class="btn btn-primary">Add New</button>
  </div>

  <div class="table-responsive col-md-2 ">
    <h2>Applied To</h2>
    <table class="table">
      <tr>
        <td>Job 1</td>
      </tr>
      <tr>
        <td>Job 2</td>
      </tr>
      <tr>
        <td>Job 3</td>
      </tr>
    </table>
  </div>

  <div class="table-responsive col-md-2 ">
    <h2>Interview</h2>
    <table class="table">
      <tr>
        <td>Job 1</td>
      </tr>
      <tr>
        <td>Job 2</td>
      </tr>
      <tr>
        <td>Job 3</td>
      </tr>
    </table>
  </div>

  <div class="table-responsive col-md-2 ">
    <h2>Misc</h2>
    <table class="table">
      <tr>
        <td>Job 1</td>
      </tr>
      <tr>
        <td>Job 2</td>
      </tr>
      <tr>
        <td>Job 3</td>
      </tr>
    </table>
  </div>

  <div class="table-responsive col-md-2 ">
    <h2>Outcome</h2>
    <table class="table">
      <tr>
        <td>Accepted!</td>
      </tr>
      <tr>
        <td>Rejected!</td>
      </tr>
      <tr>
        <td>Rejected!</td>
      </tr>
    </table>
  </div>

  <i class="fa fa-trash"></i>
</div>
