
/* Front Page Nav Bar */
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

nav a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
  text-decoration: none;
  color: white;
}

.color-1 {
  background: #2980b9;
}

.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.cl-effect-1 a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

h1.title{
  font-family: 'Lato',sans-serif;
  font-size: 15em;
  letter-spacing: -8px;
  text-shadow: 0 8px 19px rgba(0,0,0,0.5);
  font-weight: 900;
  color: white;
  padding-top: .5em;
  margin: 0;
  line-height: .8em;

  .i-char {
    color: #2980b9;
  }
}

.titlebar {
  p {
  font-family: 'Lato',sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
  }
}

.navlinkswrapper {
  float: right;
  line-height: 4;
}

.home {
  float: left;
  font-size: 3em;
}

.example-wrapper {
  img {
    height: 50%;
    width: 50%;
  }
}
.loginpadding {
  height: 4em;
}
.login {
  padding-top: 7em;
  height: 500px;
}

.loginform {
  h2 {
    padding-bottom: 1em;
  }
  font-family: 'Lato',sans-serif;
  width: 100%;
  float: left;
  background-color: white;
  display: none;
  border-radius: 4px;
  padding-bottom: 1em;
}

.signupform {
  h2 {
    padding-bottom: 1em;
  }
  font-family: 'Lato',sans-serif;
  width: 100%;
  float: left;
  display: none;
  background-color: white;
  display: none;
  border-radius: 4px;
  padding-bottom: 1em;
}


.example {
  font-family: 'Lato',sans-serif;
  border-radius: 4px;
  display: none;
  background-color: white;
  padding-bottom: 1em;
  .fa-thumbs-up {
    float: left;
  }
}

