.title {
  text-align: center;
}

.job-container {
  /*border: 2px solid black;*/
}

.table-responsive {
  border: 2px solid black;
  text-align: center;
  margin-top: 2%;
  margin-left: 2.1%;
  margin-right: 1.0%;
  padding: 1%;

}

.item {
  border: 2px solid black;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.trash-can {
  margin-top: 3%;
  margin-right: 4%;
  float: right;
  font-size: 65px;
}

.back-arrow {
  font-size: 55px;
}

.table {
  min-height: 41px;
}

.table-container1 {
  overflow: auto;
  height: 321.5px;
  border: 1px solid #F2F2F2;

}

.table-container {
  overflow: auto;
  height: 375px;
  border: 1px solid #F2F2F2;

}

.job-page-link {
  float: right;
}