.index {
  background-image: url('http://2.bp.blogspot.com/_zKD4Vas9dWE/TMgyNv8RVAI/AAAAAAAAAoY/qB5D9OWFLJw/s1600/Lightbulb_Wallpaper_by_Sajja.png');
}

.title {
  text-align: center;
  margin-bottom: 3%;
}

.sign-in {
  margin: auto;
  width: 20%;
  padding: 2%;
  text-align: center;
}

.sign-up {
  margin: auto;
  width: 20%;
  padding: 2%;
  text-align: center;
}


.registration_form {
  display: none;
}

.form_container {
  background-color: red;
  border: 2px solid black;
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 50%;
  left: 25%;
  right: 25%;
  padding: 3%;
}

.main-container {
  position: relative;
}

.close-form {
  cursor: pointer;
}

.center{
  text-align: center;
}

