.inside-navigation {
  .welcome-header {
    font-size: 3em;
    font-family: 'Lato',sans-serif;
    color: white;
    padding-top: .5em;
    padding-left: 1em;
  }
  .sign-out {
    float: right;
    padding-right: 1em;
  }
  height: 93px;
  text-align: left;
}

.main-page {
  font-family: 'Lato',sans-serif;
}

